* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    transition: all ease .3s;
    box-sizing: border-box;
}

button {
    position: relative;
    overflow: hidden;
    padding: 0 .5rem;
    background: #2357ab;
    border: 2px solid #c7d3e6;
    color: #c7d3e6;
    cursor: pointer;
    z-index: 10;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: top;
        height: .5rem;
        width: 200%;
        background: #c7d3e6;
        rotate: 45deg;
        transition: all ease .3s;
        z-index: -1;
    }
    &:hover {
        color: #2357ab;
        &::after {
            height: 6rem;
        }
    }
    &:disabled {
        background: transparent;
        overflow: hidden;
        color: #c7d3e6;
        opacity: .66 !important;
        cursor: not-allowed !important;
        position: relative;
        &::after {
            content: none;
        }
    }
}
