* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    transition: all ease .15s;
    box-sizing: border-box;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: .5rem;
    gap: .5rem;
    background: #6a163f;
    font-size: 2rem;

    .counter-value {
        color: #6a163f;
        background: #c7d3e6;
        padding: 1rem;
        flex: 1;
        text-align: center;

    }
    &:has(button:active) .counter-value{
        background: white;
    }

    .counter-buttons {
        display: flex;
        gap: .5rem;
        span {
            color: #c7d3e6;
        }
        input {
            background: transparent;
            padding: 0 .5rem;
            border: 2px solid #c7d3e6;
            outline: none;
            color: #c7d3e6;
            &:focus {
                background: #30343d;
            }
        }
        button {
            flex: 1;
            padding: .5rem;
            font-size: 1rem;
            background: transparent;
            color: #c7d3e6;
            border: 2px solid #c7d3e6;
            cursor: pointer;
            &:hover {
                color: #6a163f;
                background: #c7d3e6;
            }
            &:active {
                border: 2px solid white;
                background: white;
            }
        }
    }
}